mysqldump : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At line:1 char:1
+ mysqldump -u root -padmin -h 127.0.0.1 xplorehub_db > xplorehub_db_ba ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: xplorehub_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2025-12-11 16:09:33.561798','3','22ucs112',2,'[{\"changed\": {\"fields\": [\"Staff status\", \"Superuser status\"]}}]',4,2);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('37zhbs58t782deimxmp78xdwctmsycnj','.eJxVjEEOwiAQRe_C2hCYDKW4dO8ZyDAMUjU0Ke3KeHdt0oVu_3vvv1Skba1x67LEKauzAnX63RLxQ9oO8p3abdY8t3WZkt4VfdCur3OW5-Vw_w4q9fqtfQlibDA4FgLPIGMBK2QZMSMGz8SYXRI3FA9sBkAfoCR0RNYlI-r9AeT3N_4:1vTjEA:m-sQYQ88BiLEIkx1aTpXFK8hNAc_iQocv6cJfi8UiMk','2025-12-25 16:09:14.981778');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_assignment`
--

DROP TABLE IF EXISTS `portal_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_assignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `due_date` date DEFAULT NULL,
  `max_marks` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `course_id` bigint NOT NULL,
  `body` longtext NOT NULL,
  `is_draft` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_assignment_course_id_c437281e_fk_portal_course_id` (`course_id`),
  CONSTRAINT `portal_assignment_course_id_c437281e_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_assignment`
--

LOCK TABLES `portal_assignment` WRITE;
/*!40000 ALTER TABLE `portal_assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_assignmentattachment`
--

DROP TABLE IF EXISTS `portal_assignmentattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_assignmentattachment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `assignment_id` bigint NOT NULL,
  `uploaded_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_assignmentatt_assignment_id_257fca46_fk_portal_as` (`assignment_id`),
  KEY `portal_assignmentatt_uploaded_by_id_20c98241_fk_portal_pr` (`uploaded_by_id`),
  CONSTRAINT `portal_assignmentatt_assignment_id_257fca46_fk_portal_as` FOREIGN KEY (`assignment_id`) REFERENCES `portal_assignment` (`id`),
  CONSTRAINT `portal_assignmentatt_uploaded_by_id_20c98241_fk_portal_pr` FOREIGN KEY (`uploaded_by_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_assignmentattachment`
--

LOCK TABLES `portal_assignmentattachment` WRITE;
/*!40000 ALTER TABLE `portal_assignmentattachment` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_assignmentattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_attendance`
--

DROP TABLE IF EXISTS `portal_attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_attendance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `status` tinyint(1) NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_attendance_student_id_course_id_date_539d85bd_uniq` (`student_id`,`course_id`,`date`),
  KEY `portal_attendance_course_id_f5a9520a_fk_portal_course_id` (`course_id`),
  CONSTRAINT `portal_attendance_course_id_f5a9520a_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_attendance_student_id_21af515e_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_attendance`
--

LOCK TABLES `portal_attendance` WRITE;
/*!40000 ALTER TABLE `portal_attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_certificate`
--

DROP TABLE IF EXISTS `portal_certificate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_certificate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `issued_date` datetime(6) NOT NULL,
  `certificate_id` varchar(50) NOT NULL,
  `file` varchar(100) NOT NULL,
  `grade` varchar(2) DEFAULT NULL,
  `completion_date` date NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `certificate_id` (`certificate_id`),
  UNIQUE KEY `portal_certificate_student_id_course_id_80f57980_uniq` (`student_id`,`course_id`),
  KEY `portal_certificate_course_id_0ae4e7ef_fk_portal_course_id` (`course_id`),
  CONSTRAINT `portal_certificate_course_id_0ae4e7ef_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_certificate_student_id_b8aba0c7_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_certificate`
--

LOCK TABLES `portal_certificate` WRITE;
/*!40000 ALTER TABLE `portal_certificate` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_certificate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_course`
--

DROP TABLE IF EXISTS `portal_course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_course` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `code` varchar(10) NOT NULL,
  `credits` int NOT NULL,
  `semester` int NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `portal_course_teacher_id_bd349ddd_fk_portal_profile_id` (`teacher_id`),
  CONSTRAINT `portal_course_teacher_id_bd349ddd_fk_portal_profile_id` FOREIGN KEY (`teacher_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_course`
--

LOCK TABLES `portal_course` WRITE;
/*!40000 ALTER TABLE `portal_course` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_enrollment`
--

DROP TABLE IF EXISTS `portal_enrollment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_enrollment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `enrolled_date` date NOT NULL,
  `course_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_enrollment_student_id_course_id_f7b2d2dd_uniq` (`student_id`,`course_id`),
  KEY `portal_enrollment_course_id_bd1ebc2e_fk_portal_course_id` (`course_id`),
  CONSTRAINT `portal_enrollment_course_id_bd1ebc2e_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_enrollment_student_id_9af3703a_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_enrollment`
--

LOCK TABLES `portal_enrollment` WRITE;
/*!40000 ALTER TABLE `portal_enrollment` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_enrollment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_feedback`
--

DROP TABLE IF EXISTS `portal_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_feedback` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_feedback_course_id_c143f55f_fk_portal_course_id` (`course_id`),
  KEY `portal_feedback_student_id_eb58f85d_fk_portal_profile_id` (`student_id`),
  CONSTRAINT `portal_feedback_course_id_c143f55f_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_feedback_student_id_eb58f85d_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_feedback`
--

LOCK TABLES `portal_feedback` WRITE;
/*!40000 ALTER TABLE `portal_feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_feepayment`
--

DROP TABLE IF EXISTS `portal_feepayment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_feepayment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `paid_on` datetime(6) NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `status` varchar(20) NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_feepayment_student_id_e7a5c40f_fk_portal_profile_id` (`student_id`),
  CONSTRAINT `portal_feepayment_student_id_e7a5c40f_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_feepayment`
--

LOCK TABLES `portal_feepayment` WRITE;
/*!40000 ALTER TABLE `portal_feepayment` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_feepayment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_financialtransaction`
--

DROP TABLE IF EXISTS `portal_financialtransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_financialtransaction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `trans_type` varchar(10) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `balance_after` decimal(12,2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_financialtransaction`
--

LOCK TABLES `portal_financialtransaction` WRITE;
/*!40000 ALTER TABLE `portal_financialtransaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_financialtransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_notification`
--

DROP TABLE IF EXISTS `portal_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_notification_user_id_aff6d3aa_fk_auth_user_id` (`user_id`),
  CONSTRAINT `portal_notification_user_id_aff6d3aa_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_notification`
--

LOCK TABLES `portal_notification` WRITE;
/*!40000 ALTER TABLE `portal_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_option`
--

DROP TABLE IF EXISTS `portal_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_option` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order` int NOT NULL,
  `text` varchar(1000) NOT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `question_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_option_question_id_fa0705b6_fk_portal_question_id` (`question_id`),
  CONSTRAINT `portal_option_question_id_fa0705b6_fk_portal_question_id` FOREIGN KEY (`question_id`) REFERENCES `portal_question` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_option`
--

LOCK TABLES `portal_option` WRITE;
/*!40000 ALTER TABLE `portal_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_profile`
--

DROP TABLE IF EXISTS `portal_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL,
  `department` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `profile_pic` varchar(100) DEFAULT NULL,
  `user_id` int NOT NULL,
  `roll_number` varchar(20) DEFAULT NULL,
  `student_class` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `portal_profile_user_id_13f769b2_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_profile`
--

LOCK TABLES `portal_profile` WRITE;
/*!40000 ALTER TABLE `portal_profile` DISABLE KEYS */;
INSERT INTO `portal_profile` VALUES (1,'student','','','',1,NULL,NULL),(2,'student','','','',2,NULL,NULL),(3,'teacher','PYTHON FULLSTACK DEVELOPER WITH AI AND ML','','profiles/50_kb_Prakash_M_xppDRmX.jpg',3,NULL,NULL);
/*!40000 ALTER TABLE `portal_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_question`
--

DROP TABLE IF EXISTS `portal_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_question` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `order` int NOT NULL,
  `qtype` varchar(20) NOT NULL,
  `text` longtext NOT NULL,
  `points` double NOT NULL,
  `assignment_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_question_assignment_id_22510467_fk_portal_assignment_id` (`assignment_id`),
  CONSTRAINT `portal_question_assignment_id_22510467_fk_portal_assignment_id` FOREIGN KEY (`assignment_id`) REFERENCES `portal_assignment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_question`
--

LOCK TABLES `portal_question` WRITE;
/*!40000 ALTER TABLE `portal_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_salaryrecord`
--

DROP TABLE IF EXISTS `portal_salaryrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_salaryrecord` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `paid_on` date NOT NULL,
  `notes` longtext NOT NULL,
  `staff_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_salaryrecord_staff_id_b9022180_fk_portal_staffmember_id` (`staff_id`),
  CONSTRAINT `portal_salaryrecord_staff_id_b9022180_fk_portal_staffmember_id` FOREIGN KEY (`staff_id`) REFERENCES `portal_staffmember` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_salaryrecord`
--

LOCK TABLES `portal_salaryrecord` WRITE;
/*!40000 ALTER TABLE `portal_salaryrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_salaryrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_schedule`
--

DROP TABLE IF EXISTS `portal_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_schedule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `date` date NOT NULL,
  `start_time` time(6) DEFAULT NULL,
  `end_time` time(6) DEFAULT NULL,
  `is_public` tinyint(1) NOT NULL,
  `attachment` varchar(100) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `color` varchar(20) NOT NULL,
  `created_by_user_id` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_recurring` tinyint(1) NOT NULL,
  `location` varchar(255) NOT NULL,
  `notify_students` tinyint(1) NOT NULL,
  `recurrence_rule` varchar(500) NOT NULL,
  `reminder_minutes` int NOT NULL,
  `slug` varchar(300) NOT NULL,
  `timezone` varchar(64) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_schedule_course_id_4f56527f_fk_portal_course_id` (`course_id`),
  KEY `portal_schedule_created_by_id_8746cc18_fk_portal_profile_id` (`created_by_id`),
  KEY `portal_schedule_created_by_user_id_2a942079_fk_auth_user_id` (`created_by_user_id`),
  KEY `portal_schedule_slug_bc82f9c4` (`slug`),
  CONSTRAINT `portal_schedule_course_id_4f56527f_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_schedule_created_by_id_8746cc18_fk_portal_profile_id` FOREIGN KEY (`created_by_id`) REFERENCES `portal_profile` (`id`),
  CONSTRAINT `portal_schedule_created_by_user_id_2a942079_fk_auth_user_id` FOREIGN KEY (`created_by_user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_schedule`
--

LOCK TABLES `portal_schedule` WRITE;
/*!40000 ALTER TABLE `portal_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_schedule_tags`
--

DROP TABLE IF EXISTS `portal_schedule_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_schedule_tags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `schedule_id` bigint NOT NULL,
  `tag_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_schedule_tags_schedule_id_tag_id_42e4e86c_uniq` (`schedule_id`,`tag_id`),
  KEY `portal_schedule_tags_tag_id_7064b6d4_fk_portal_tag_id` (`tag_id`),
  CONSTRAINT `portal_schedule_tags_schedule_id_7863d33a_fk_portal_schedule_id` FOREIGN KEY (`schedule_id`) REFERENCES `portal_schedule` (`id`),
  CONSTRAINT `portal_schedule_tags_tag_id_7064b6d4_fk_portal_tag_id` FOREIGN KEY (`tag_id`) REFERENCES `portal_tag` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_schedule_tags`
--

LOCK TABLES `portal_schedule_tags` WRITE;
/*!40000 ALTER TABLE `portal_schedule_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_schedule_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_staffattendance`
--

DROP TABLE IF EXISTS `portal_staffattendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_staffattendance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `timestamp` datetime(6) NOT NULL,
  `method` varchar(50) NOT NULL,
  `recognized_username` varchar(150) DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  `staff_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_staffattendan_staff_id_5a4635e2_fk_portal_st` (`staff_id`),
  CONSTRAINT `portal_staffattendan_staff_id_5a4635e2_fk_portal_st` FOREIGN KEY (`staff_id`) REFERENCES `portal_staffmember` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_staffattendance`
--

LOCK TABLES `portal_staffattendance` WRITE;
/*!40000 ALTER TABLE `portal_staffattendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_staffattendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_staffdailyattendance`
--

DROP TABLE IF EXISTS `portal_staffdailyattendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_staffdailyattendance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `status` varchar(10) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `method` varchar(50) NOT NULL,
  `note` longtext NOT NULL,
  `recorded_by_id` int DEFAULT NULL,
  `staff_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_staffdailyattendance_staff_id_date_fed4aaff_uniq` (`staff_id`,`date`),
  KEY `portal_staffdailyatt_recorded_by_id_812443d0_fk_auth_user` (`recorded_by_id`),
  CONSTRAINT `portal_staffdailyatt_recorded_by_id_812443d0_fk_auth_user` FOREIGN KEY (`recorded_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `portal_staffdailyatt_staff_id_a53ddd07_fk_portal_st` FOREIGN KEY (`staff_id`) REFERENCES `portal_staffmember` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_staffdailyattendance`
--

LOCK TABLES `portal_staffdailyattendance` WRITE;
/*!40000 ALTER TABLE `portal_staffdailyattendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_staffdailyattendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_staffmember`
--

DROP TABLE IF EXISTS `portal_staffmember`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_staffmember` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `position` varchar(100) NOT NULL,
  `date_joined` date NOT NULL,
  `profile_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `profile_id` (`profile_id`),
  CONSTRAINT `portal_staffmember_profile_id_4f7622d4_fk_portal_profile_id` FOREIGN KEY (`profile_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_staffmember`
--

LOCK TABLES `portal_staffmember` WRITE;
/*!40000 ALTER TABLE `portal_staffmember` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_staffmember` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_studentpayout`
--

DROP TABLE IF EXISTS `portal_studentpayout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_studentpayout` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `requested_on` datetime(6) NOT NULL,
  `processed_on` datetime(6) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `notes` longtext NOT NULL,
  `student_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_studentpayout_student_id_84e1cf2b_fk_portal_profile_id` (`student_id`),
  CONSTRAINT `portal_studentpayout_student_id_84e1cf2b_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_studentpayout`
--

LOCK TABLES `portal_studentpayout` WRITE;
/*!40000 ALTER TABLE `portal_studentpayout` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_studentpayout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_studymaterial`
--

DROP TABLE IF EXISTS `portal_studymaterial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_studymaterial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `file` varchar(100) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `course_id` bigint NOT NULL,
  `uploaded_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `portal_studymaterial_course_id_51c5bcfa_fk_portal_course_id` (`course_id`),
  KEY `portal_studymaterial_uploaded_by_id_026db2dc_fk_portal_pr` (`uploaded_by_id`),
  CONSTRAINT `portal_studymaterial_course_id_51c5bcfa_fk_portal_course_id` FOREIGN KEY (`course_id`) REFERENCES `portal_course` (`id`),
  CONSTRAINT `portal_studymaterial_uploaded_by_id_026db2dc_fk_portal_pr` FOREIGN KEY (`uploaded_by_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_studymaterial`
--

LOCK TABLES `portal_studymaterial` WRITE;
/*!40000 ALTER TABLE `portal_studymaterial` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_studymaterial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_submission`
--

DROP TABLE IF EXISTS `portal_submission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_submission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `submission_date` datetime(6) NOT NULL,
  `marks_obtained` int DEFAULT NULL,
  `feedback` longtext NOT NULL,
  `assignment_id` bigint NOT NULL,
  `student_id` bigint NOT NULL,
  `file` varchar(100) DEFAULT NULL,
  `text` longtext NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `portal_submission_assignment_id_student_id_937cf8d6_uniq` (`assignment_id`,`student_id`),
  KEY `portal_submission_student_id_39beeb45_fk_portal_profile_id` (`student_id`),
  CONSTRAINT `portal_submission_assignment_id_a36e6a52_fk_portal_assignment_id` FOREIGN KEY (`assignment_id`) REFERENCES `portal_assignment` (`id`),
  CONSTRAINT `portal_submission_student_id_39beeb45_fk_portal_profile_id` FOREIGN KEY (`student_id`) REFERENCES `portal_profile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_submission`
--

LOCK TABLES `portal_submission` WRITE;
/*!40000 ALTER TABLE `portal_submission` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_submission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `portal_tag`
--

DROP TABLE IF EXISTS `portal_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `portal_tag` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `portal_tag`
--

LOCK TABLES `portal_tag` WRITE;
/*!40000 ALTER TABLE `portal_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `portal_tag` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-11 21:44:15
